<main id="container">
  <h1>Web Number Guesser</h1>
  <form action="/" method="post">
  <fieldset>
    <label for="guess">Guess a number between 1 and 100:</label>
    <input type="number" name="guess" id="guess">
    <button type="submit">Submit</button>
  </fieldset>
  </form>
  <section class="guess-output">
  <p><%= session[:secret_num] %></p>
  <p>Number of Guesses so far: <%= @guess_count %></p>
  <p class="guess-output_num">Guessed Numbers: <%= session[:guess_history] %></p>
  </section>
</main> 
 